@charset "utf-8";
/* CSS Document */
body{
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#B6B8AD;
	
	}
.item{
	font-size:18px;
}
h1{
	font-size:24px;	
}
.select-empresa{
	font-size:24px;
	font-weight: bold;
}

